/* topbar height */
.fixed.expanded:not(.top-bar) .top-bar-section { margin-top: 60px; }
.top-bar { height: 60px; line-height: 60px; }
.top-bar .name { height: 60px; }
.top-bar .name h1 { line-height: 60px; }
.top-bar .toggle-topbar a { height: 60px; line-height: 60px; }
.top-bar-section li:not(.has-form) a:not(.button) { line-height:60px; }
.top-bar-section li.active:not(.has-form) a:not(.button) { line-height:60px; }
.top-bar-section .has-dropdown > a:after {top:30px;}
.top-bar-section .dropdown li a { line-height:60px; }
.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] { height: 60px; }
.top-bar-section .has-form { padding: 0 20px; height: 60px; }

.top-bar .name h1 a { padding: 0 20px; }
.top-bar .toggle-topbar a { padding: 0 20px; }
.top-bar .toggle-topbar.menu-icon a { padding: 0 45px 0 20px; }
.top-bar-section ul li > a { padding-left:20px; }
.top-bar-section ul li > a.button { padding-right: 20px; padding-left: 20px; }
.top-bar-section ul li > button { padding-right: 20px; padding-left: 20px; }
.top-bar-section .has-form { padding: 20px; }
.top-bar-section .has-dropdown > a:after { margin-right: 20px; }
.top-bar-section .dropdown li a { padding: 8px 20px; }
.top-bar-section .dropdown li.has-form { padding: 8px 20px; }
.top-bar-section .dropdown label { padding: 8px 20px 2px; }
.top-bar-section li:not(.has-form) a:not(.button) { padding: 0 20px; }
.top-bar-section li.active:not(.has-form) a:not(.button) { padding: 0 20px; }

/* vertical align of logout button */
.button.logout {
    margin-top: -10px;
}

/* restore correct position of dropdown arrows */
.top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
    top:1.35rem;
}

/* logo styling */
.top-bar .name h1 a i.fi-shield {
    font-size:3rem;
    color:orange;
}

.top-bar .name h1 a span.title {
    letter-spacing:-1px;
    font-size:1.3em;
    position: relative;
    top: -8px;
    left: 7px;
}

.top-bar .name h1 a span.title span.first {
    color:orange;
}

.row.body {
    padding-top:1rem;
}

.panel.callout {
    border-color:#ffa200;
    background:#FFE9C4;
}

footer.row hr {
    margin-top:0.5rem;
}

#login-logo-wrapper {
    text-align:center;
}
#login-logo-wrapper i.fi-shield {
    font-size:10rem;
    color:orange;
    line-height: 12rem;
}
